<section class="flex-wrap-element">
  <h2 class="my-5 mt-md-0 text-center">Proyectos</h2>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">Portfolio Web - (2023)</h3>
    <p class="my-3">
      Portfolio con proyectos personales, habilidades, educación y experiencias
      laborales
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href="#"
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">
      Sistema de Gestión para Guardería de Vehículos - (2023)
    </h3>
    <p class="my-3">
      Sistema para visualizar y gestionar datos de una hipotética guardería de
      vehículos, incluídos sus administradores, empleados, garages, socios,
      vehículos y zonas
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href=""
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">Portfolio Web - (2022)</h3>
    <p class="my-3">
      Portfolio Web con algunos proyectos front end, listados también aquí
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href="https://dashing-mousse-4065dd.netlify.app/"
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">Weather Channel - (2022)</h3>
    <p class="my-3">
      Permite ver datos meteorológicos de la ubicación seleccionada
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href="https://incandescent-crostata-2ea2ef.netlify.app/"
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">To Do List - (2022)</h3>
    <p class="my-3">Lista de pendientes, proyecto frontend</p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href="https://teal-beijinho-232898.netlify.app/"
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
  <article class="my-5 mx-4 text-center">
    <h3 class="fs-5">The Great Guessing Game - (2022)</h3>
    <p class="my-3">
      Juego para adivinar qué color es el representado por el valor rgb dado
    </p>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <a
            href="https://resilient-sunburst-78181f.netlify.app/"
            role="button"
            class="btn-purple rounded-pill d-inline-block text-center text-nowrap"
            >Ver proyecto</a
          >
        </div>
      </div>
    </div>
  </article>
</section>
