<section>
  <h2 class="my-5 mt-md-0 text-center">Idiomas</h2>
  <div class="container">
    <div class="row">
      <div class="col"><p class="h">Español</p></div>
      <div class="progress col">
        <div
          class="progress-bar bg-purple"
          role="progressbar"
          aria-label="Español barra de progreso"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"><p class="h">Inglés</p></div>
      <div class="progress col">
        <div
          class="progress-bar bg-purple"
          role="progressbar"
          aria-label="Inglés barra de progreso"
          style="width: 80%"
          aria-valuenow="80"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</section>
