.btn-purple {
  background-color: #7000ff;
  height: fit-content;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
}

.font-bold {
  font-family: "Inter", sans-serif;
}

.hero {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr auto;
}

.container-question {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  margin: 2em;
}

.max-width-70-only-small {
  max-width: 70%;
}

.contactarme-container {
  grid-column: 1 / span 2;
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    border-radius: 25px;
  }

  .container-question {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-img-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero img {
    border-radius: 0 25px 0 0;
  }

  .max-width-70-only-small {
    max-width: 100%;
  }

  .contactarme-container {
    grid-column: 1 / span 1;
  }
}
