<div class="container my-4">
  <div class="row align-items-center">
    <div class="col d-flex align-items-center">
      <p class="m-0">{{ skill.name }}</p>
    </div>
    <div class="progress col">
      <div
        class="progress-bar bg-purple"
        role="progressbar"
        [style]="'width: ' + skill.percentage + '%'"
      ></div>
    </div>
    <div
      *ngIf="isLogged"
      class="col d-flex align-items-center justify-content-center"
    >
      <button class="material-symbols-outlined edit-btn m-2" (click)="edit()">edit</button>
      <button
        class="material-symbols-outlined delete-btn m-2"
        (click)="delete()"
      >
        delete
      </button>
    </div>
  </div>
</div>
