<div
  class="bg-img text-white d-flex align-items-center justify-content-center full-screen"
>
  <form
    (ngSubmit)="onSubmit($event)"
    [formGroup]="form"
    class="dark-background-blur"
  >
    <h1 class="m-auto" i18n>Iniciar Sesión</h1>
    <label class="my-3" for="usuario" i18n>Usuario</label>
    <input formControlName="user" id="usuario" type="text"/>
    <label class="my-3" for="password" i18n>Contraseña</label>
    <input formControlName="password" id="password" type="password"/>
    <button class="btn-submit rounded-pill d-inline-block mt-4" id="submitButton" type="submit" i18n>
      Ingresar
    </button>
  </form>
</div>
