<header class="navbar-header sticky-top">
  <nav class="navbar p-3 dark-background-blur">
    <div class="nav-item bg-transparent">
      <a
        href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
        class="navbar-brand bg-transparent"
      >
        <img
          src="assets/logo argentina programa.png"
          alt="Ir a Argentina Programa"
        />
      </a>
    </div>
    <div class="nav-item bg-transparent">
      <a [href]="person?.githubUrl" class="navbar-brand bg-transparent"
        ><img src="assets/github-mark-white.png" alt="Ir a Github"
      /></a>
      <a [href]="person?.linkedinUrl" class="navbar-brand bg-transparent"
        ><img src="assets/In-White-34-Ôö¼┬½.png" alt="Ir a LinkedIn"
      /></a>
      <a
        *ngIf="!isLogged"
        role="button"
        class="btn btn-outline-light border-radius-100 bg-transparent"
        routerLink="/login"
        >Login</a
      >
      <button
        *ngIf="isLogged"
        (click)="logOut()"
        class="btn btn-outline-light border-radius-100 bg-transparent"
      >
        Logout
      </button>
    </div>
  </nav>
</header>
