.dark-background-blur {
  background-color: rgba(37, 37, 37, 0.5);
  backdrop-filter: blur(50px);
}

nav div {
  height: auto !important;
}

nav img {
  height: 1.5em;
}

.border-radius-100 {
  border-radius: 100px !important;
}