<section>
  <h2 class="my-5 mt-md-0 text-center">Educación</h2>
  <article class="my-5 mx-4 text-center">
    <div>
      <img src="assets/utn_inspt_logo_iso_.png" alt="logo UTN INSPT" />
    </div>
    <p class="my-3">
      En curso - Tecnicatura Superior en Informática Aplicada (Feb. 2021 - Mar.
      2024)
    </p>
  </article>
  <article class="my-5 mx-4 text-center">
    <p class="my-3 fs-5">
      Escuela de Educación Media N° 8 Dr. Antonio Sagarna (anteriormente Colegio
      Nacional de San Isidro)
    </p>
    <p>Bachiller en Ciencias Sociales (2015 - 2020)</p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/logo cuv.png"
            alt="logo Centro Universitario Vicente López"
            width="100%"
          />
        </div>
        <div class="col-6">
          <img
            src="assets/logo plataforma 5.svg"
            alt="logo Plataforma 5"
            width="100%"
          />
        </div>
      </div>
    </div>
    <p class="my-3">Curso de Desarrollo Web Front-end (2022)</p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div>
      <img src="assets/educacion it logo.svg" alt="logo Educación IT" />
    </div>
    <p class="my-3">Curso de Javascript Desarrollador Avanzado (2021)</p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div>
      <img src="assets/educacion it logo.svg" alt="logo Educación IT" />
    </div>
    <p class="my-3">Curso de Python para no programadores (2022)</p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div>
      <img src="assets/educacion it logo.svg" alt="logo Educación IT" />
    </div>
    <p class="my-3">Curso de Python Programming (2022)</p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div>
      <img
        src="assets/logo argentina programa.png"
        alt="logo Argentina Programa"
      />
    </div>
    <p class="my-3">
      Primera etapa del Plan Argentina Programa - #SéProgramar (2022)
    </p>
  </article>
  <article class="my-5 mx-4 text-center">
    <div>
      <img
        src="assets/logo argentina programa.png"
        alt="logo Argentina Programa"
      />
    </div>
    <p class="my-3">
      En curso - Segunda etapa del Plan Argentina Programa - #YoProgramo
      (2022-2023)
    </p>
  </article>
</section>
