.add-btn {
  background-color: #7000ff;
  padding: 0.5em;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 25px;
}

.btn-purple {
  background-color: #7000ff;
  height: fit-content;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .flex-wrap-element {
    margin: 2em;
    flex-basis: 30em;
  }
}
