* {
  font-family: "Nunito", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.dark-background {
  background-color: rgb(37, 37, 37);
}

.dark-background-blur {
  background-color: rgba(37, 37, 37, 0.5);
  backdrop-filter: blur(50px);
}

ul {
  list-style-type: none;
}

.border-radius-100 {
  border-radius: 100px !important;
}

.navbar * {
  padding-top: 5px;
}

.col {
  padding: 0 !important;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.max-width-70 {
  max-width: 70%;
}

.btn-purple {
  background-color: #7000ff;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
}

.font-bold {
  font-family: "Inter", sans-serif;
}

.my-5-rem {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.thumbnail {
  max-width: 25vw;
  max-height: 25vw;
}

.align-table-element-center {
  align-items: center;
  vertical-align: middle;
  display: table-cell;
}
