<article class="my-5 mx-4 text-center">
  <div>
    <img
      *ngIf="workExperience.institution?.logoUrl"
      [src]="workExperience.institution!.logoUrl"
      [alt]="'logo de ' + workExperience.institution!.name"
      class="mx-4"
    />
    <div
      *ngIf="isLogged"
      class="d-flex align-items-center justify-content-center"
    >
      <button class="material-symbols-outlined edit-btn m-2" (click)="edit()">
        edit
      </button>
      <button
        class="material-symbols-outlined delete-btn m-2"
        (click)="delete()"
      >
        delete
      </button>
    </div>
  </div>
  <h3 class="my-3 fs-5">
    <span *ngIf="!workExperience.completed">Actualmente - </span
    >{{ workExperience.title + " (" + workExperience.period + ")" }}
  </h3>
  <p>
    {{ workExperience.description }}
  </p>
</article>
