<article class="my-5 mx-4 text-center">
  <div>
    <img
      *ngIf="workExperience.institution?.logoUrl"
      [alt]="workExperience.institution!.name"
      [src]="workExperience.institution!.logoUrl"
      class="mx-4"
    />
    <div
      *ngIf="isLogged"
      class="d-flex align-items-center justify-content-center"
    >
      <button (click)="edit()" class="material-symbols-outlined edit-btn m-2">
        edit
      </button>
      <button
        (click)="link()"
        *ngIf="!workExperience.institution"
        class="material-symbols-outlined edit-btn m-2"
      >
        link
      </button>
      <button
        (click)="linkOff()"
        *ngIf="workExperience.institution"
        class="material-symbols-outlined edit-btn m-2"
      >
        link_off
      </button>
      <button
        (click)="delete()"
        class="material-symbols-outlined delete-btn m-2"
      >
        delete
      </button>
    </div>
  </div>
  <h3 class="my-3 fs-5">
    <span *ngIf="!workExperience.completed" i18n>Actualmente - </span
    >{{ workExperience.title + " (" + workExperience.period + ")"
    }}<span *ngIf="workExperience.institution"><ng-container i18n> - en </ng-container>
    {{ workExperience.institution.name }}</span
  >
  </h3>
  <p>
    {{ workExperience.description }}
  </p>
</article>
