<app-skill-creator-modal
  *ngIf="type === ModalType.CREATE_SKILL"
></app-skill-creator-modal>
<app-skill-editor-modal
  *ngIf="type === ModalType.EDIT_SKILL"
></app-skill-editor-modal>
<app-project-creator-modal
  *ngIf="type === ModalType.CREATE_PROJECT"
></app-project-creator-modal>
<app-project-editor-modal
  *ngIf="type === ModalType.EDIT_PROJECT"
></app-project-editor-modal>
<app-person-editor-modal
  *ngIf="type === ModalType.EDIT_PERSON"
></app-person-editor-modal>
<app-institution-creator-modal
  *ngIf="type === ModalType.CREATE_INSTITUTION"
></app-institution-creator-modal>
<app-institution-editor-modal
  *ngIf="type === ModalType.EDIT_INSTITUTION"
></app-institution-editor-modal>
<app-work-experience-creator-modal
  *ngIf="type === ModalType.CREATE_WORK_EXPERIENCE"
></app-work-experience-creator-modal>
<app-work-experience-editor-modal
  *ngIf="type === ModalType.EDIT_WORK_EXPERIENCE"
></app-work-experience-editor-modal>
<app-education-creator-modal
  *ngIf="type === ModalType.CREATE_EDUCATION"
></app-education-creator-modal>
<app-education-editor-modal
  *ngIf="type === ModalType.EDIT_EDUCATION"
></app-education-editor-modal>
<app-error-delete-modal
  *ngIf="type === ModalType.ERROR_DELETE"
></app-error-delete-modal>
<app-education-link-modal
  *ngIf="type === ModalType.LINK_EDUCATION"
></app-education-link-modal>
<app-work-experience-link-modal
  *ngIf="type === ModalType.LINK_WORK_EXPERIENCE"
></app-work-experience-link-modal>
