<div [ngStyle]="{ display: 'block' }" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" i18n>Agregar proyecto</h5>
        <button
          (click)="close()"
          aria-label="Close"
          class="material-symbols-outlined close-btn"
          data-bs-dismiss="modal"
          type="button"
        >
          close
        </button>
      </div>
      <form (ngSubmit)="onSubmit($event)" [formGroup]="form">
        <div class="modal-body">
          <label for="title" i18n>Titulo del proyecto</label>
          <input formControlName="title" id="title" type="text"/>
          <label for="period" i18n>Periodo de colaboración (ej. 2020 - 2021)</label>
          <input formControlName="period" id="period" type="text"/>
          <label for="completed" i18n>¿Ya ha sido completado?</label>
          <input formControlName="completed" id="completed" type="checkbox"/>
          <label for="description" i18n>Descripción</label>
          <textarea
            formControlName="description"
            id="description"
            type="text"
          ></textarea>
          <label for="url" i18n>URL</label>
          <input formControlName="url" id="url" type="text"/>
        </div>
        <div class="modal-footer">
          <button class="material-symbols-outlined save-btn" type="submit">
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
